
<h1>Contato</h1>

<p>Via e-mail, thiago.rondon no gmail.com</p>

<p>Via twitter, @thiagorondon</p>

<p>Lista de discussão OpenData-BR, 
<a href="http://groups.google.com/group/opendata-br?pli=1">
http://groups.google.com/group/opendata-br?pli=1</a></p>

<br/><br/>
